* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

pre {
    white-space: normal;
}

/* Flex utils */
.d-flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.d-flex-row-reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-no-shrink * {
    flex-shrink: 0;
}

/* Nav */
.nav {
    a {
        margin: 0 5px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &.selected {
          color: black;
          font-weight: bold;
        }
    }
}
