* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.nav a {
  margin: 0 5px;
}
.nav a:first-child {
  margin-left: 0;
}
.nav a:last-child {
  margin-right: 0;
}
.nav a.selected {
  color: black;
  font-weight: bold;
}

.editing-canvas-wrapper {
  position: relative;
  max-width: 1000px;
  z-index: 1;
}

.editing-canvas-wrapper .status-bar {
  text-align: right;
  font-size: 14px;
  height: 20px;
}

.editing-canvas {
  position: relative;
  width: 1000px;
}

.editing-canvas .ref-img-wrapper {
  position: absolute;
  z-index: 1;
}

.editing-canvas .layer-wrapper {
  position: absolute;
  z-index: 10;
}

.hotkeys {
  outline: none;
}

/* Color dropdown */
.color-dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.color-inputbox {
  border: 1px solid #000;
  width: 32px;
  height: 16px;
  margin: 0 4px;
  display: inline-block;
}

.color-picker-wrapper {
  position: absolute;
  top: 24px;
  z-index: 100;
}

.color-picker-wrapper.closed {
  display: none;
}
